@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    min-width: 400px;
}
input[type = "text"]{
    display: block;
    margin: 5px 10px;
    height: 30px;
    width: 450px;
    border: 2px solid rgb(15, 150, 228);
    border-radius: 4px;
    padding: 0px 7px;
    font-family: 'Ubuntu', sans-serif;
}
button{
   margin: 2px 4px 0px 0px;
   padding: 7px;
   border-color: rgb(95, 185, 237);
   font-weight: bold;
   font-size: 14px;
   cursor: pointer;
   font-family: 'Ubuntu', sans-serif;
}
button:hover{
    box-shadow:2px 2px 5px rgb(137, 239, 239);
    font-size: 15px;
}
#save-input,#save-tab{
    background-color: rgb(163, 227, 243);
    color: rgb(23, 24, 24);
}
#delete-all{
    background-color: white;
    color: rgb(17, 181, 221);
}
.btn{
    margin: 0px 10px;
    height: 45px;
    /* border: 2px solid black; */
}
#links{
    color: green;
    font-size: bold;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
}

#links a{
    color: rgb(49, 105, 160);
    font-size: 14px;
}
#links li{
   margin-top: 5px;
}